

<!DOCTYPE html>
<html lang="en">
<head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="Multikart admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
        <meta name="keywords"
              content="admin template, Multikart admin template, dashboard template, flat admin template, responsive admin template, web app">
        <meta name="author" content="pixelstrap">
        <link rel="icon" href="assets/images/dashboard/favicon.png" type="image/x-icon">
        <link rel="shortcut icon" href="assets/images/dashboard/favicon.png" type="image/x-icon">
        <title>{% block title %}Title {% endblock %}</title>

        <script src="https://unpkg.com/feather-icons"></script>

        {% block stylesheets %}
                {{ encore_entry_link_tags('app') }}
        {% endblock %}


</head>
{% block body %}

        <body>
            {% block page_wrapper %}
                <div class="page-wrapper">
                        {% include 'back_end/base/_header.html.twig' %}

                        {% block main %}
                                <div class="page-body-wrapper">

                                        {% include '/back_end/base/_sidebare.html.twig' %}

                                        {% block page_body %}
                                        {% endblock page_body %}


                                        {% include 'back_end/base/_footer.html.twig' %}


                                </div>
                        {% endblock main %}

                </div>
        {% endblock page_wrapper %}

        {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
        {% endblock %}
        </body>
        {% endblock body %}
</html>